.navbar{
    /* position: fixed; */
    /* width: 1900px; */
}
li{
    list-style: none;
    padding: 8px;
}
li:hover{
    background-color: rgb(52, 56, 63);
}
i{
    padding: 30px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    padding: 8px;
}
.collab{
    text-align: center;
}
.collaborators{
    margin-top: 135px;
}
.order-now button{
    height: 40px;
    width: 200px;
    color: black;
}
.order-now button:hover{
    background-color: transparent;
    font-size: 20px;
    border: none;
}
.order-now{
    margin-left: 100px;
}
.overlay{
    backdrop-filter: blur(10px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: ease-in-out 1s;
}
input{
    padding: 20px;
    height: 25px;
    width: 250px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

@media screen and (min-width: 400px) and (max-width: 900px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
}